{% extends 'layout.html' %}

{% block content %}
  <h1>{{title}}</h1>
  <a href="/" id="exit-btn">방 나가기</a>
  <fieldset>
    <legend>채팅 내용</legend>
    <div id="chat-list">
      {% for chat in chats %}
        {% if chat.user === user %}
          <div class="mine" style="color: {{chat.user}}">
            <div>{{chat.user}}</div>
            {% if chat.gif %}}
              <img src="/gif/{{chat.gif}}">
            {% else %}
              <div>{{chat.chat}}</div>
            {% endif %}
          </div>
        {% elif chat.user === 'system' %}
          <div class="system">
            <div>{{chat.chat}}</div>
          </div>
        {% else %}
          <div class="other" style="color: {{chat.user}}">
            <div>{{chat.user}}</div>
            {% if chat.gif %}
              <img src="/gif/{{chat.gif}}">
            {% else %}
              <div>{{chat.chat}}</div>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </fieldset>
  <form action="/chat" id="chat-form" method="post" enctype="multipart/form-data">
    <label for="gif">GIF 올리기</label>
    <input type="file" id="gif" name="gif" accept="image/gif">
    <input type="text" id="chat" name="chat">
    <button type="submit">전송</button>
  </form>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect('http://localhost:8005/chat', { // ⭐️ chat 네임스페이스
      path: '/socket.io',
      query: { roomId : `{{chatRoomId}}` }
    });

    socket.on('join', function (data) {
      const div = document.createElement('div');
      div.classList.add('system');
      const chat = document.createElement('div');
      div.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });

    socket.on('exit', function (data) {
      const div = document.createElement('div');
      div.classList.add('system');
      const chat = document.createElement('div');
      div.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });

    socket.on('chat', function (data) {
      console.log('client : ', data); // DBG

      const div = document.createElement('div');
      if (data.user === '{{user}}') {
        div.classList.add('mine');
      } else {
        div.classList.add('other');
      }
      const name = document.createElement('div');
      name.textContent = data.user;
      div.appendChild(name);
      if (data.chat) {
        const chat = document.createElement('div');
        chat.textContent = data.chat;
        div.appendChild(chat);
      } else {
        const gif = document.createElement('img');
        gif.src = '/gif/' + data.gif;
        div.appendChild(gif);
      }
      div.style.color = data.user;
      document.querySelector('#chat-list').appendChild(div);
    });

    document.querySelector('#chat-form').addEventListener('submit', function (e) {
      e.preventDefault(); // 🤔 Q. Is axios needed? Difference between form VS axios
      if (e.target.chat.value) {
        axios.post('/room/{{room._id}}/chat', { // room._id = 우리가 넘겨준 chatRoomId
          chat: this.chat.value, // 🤔 Q. this? → <form id="chat-form"> that triggered event
        })
          .then(() => {
            e.target.chat.value = ''; // 보낸 채팅 지우기
          })
          .catch((err) => {
            console.error(err);
          });
      }
    });

    // When new gif file is uploaded
    document.querySelector('#gif').addEventListener('change', function (e) {
      console.log("파일 : ", e.target.files);
      const formData = new FormData();
      formData.append('gif', e.target.files[0]);    
      axios.post('/room/{{room._id}}/gif',formData )
        .then(() => {
          e.target.file = null;
        })
        .catch((err) => {
          console.error(err);
        }
      );
    });
  </script>
{% endblock %}