<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>GIF 채팅방</title>
  </head>
  <body>
    <div>F12를 눌러 console 탭과 network 탭을 확인하세요.</div>
    <!-- 
      💡 Server exposes its module to client with this script (io as global var)
      https://socket.io/docs/v4/client-installation/#standalone-build 
    -->
    <script src="/orange/socket.io.js"></script>
    <script>
      const socket = io.connect('http://localhost:8005', {
        path: '/orange',
        transports: ['websocket']
      });
      socket.on('news', function (data) {
        console.log(data);
        socket.emit('reply', 'Hello Node.JS');
      });
    </script>
  </body>
</html>
